.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 100px;
  column-gap: 50px;
  margin-top: 100px;
  background-color: rgb(240, 240, 240);
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.footerList {
  list-style-type: none;
}

.footerList > li {
  margin-bottom: 5px;
}

.footerLink {
  text-decoration: none;
  color: black;
}

.footerLink:hover {
  color: #412ff8;
  cursor: pointer;
  text-decoration: underline;
}

.address {
  word-spacing: 5px;
}

@media screen and (max-width: 420px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 20px;
    column-gap: 10px;
    margin-top: 50px;
    font-size: 14px;
  }

  .title {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .footer > div {
    margin-bottom: 15px;
  }
}
