.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.logo {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.logo:hover {
  cursor: pointer;
}

.navList {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navLink {
  text-decoration: none;
  margin-left: 20px;
  color: black;
}

.navLink:hover {
  color: #412ff8;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .navbar {
    padding: 15px 20px;
  }

  .logo {
    font-size: 16px;
  }

  .navLink {
    font-size: 15px;
    margin-left: 10px;
  }
}
