/* MAIN */
.mainContainer {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 50px;
  padding: 20px 100px;
}

.noTripFound {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

@media screen and (max-width: 420px) {
  .mainContainer {
    flex-direction: column;
    grid-template-columns: 1fr;
    column-gap: 0;
    padding: 20px;
  }

  .btnFilter {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #ffffff;
    color: #412ff8;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 5px;
    padding: 7px 35px;
    width: 100%;
  }

  .optionContainer {
    margin-bottom: 10px;
  }

  .option {
    display: none;
  }
}
