.container {
  margin: 20px 100px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

/* MAIN SEAT GRID */
.content {
  display: flex;
  justify-content: center;
  padding: 40px 50px;
}

.labelFront {
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
}

.grid_container {
  display: grid;
  grid-gap: 5px;
  border: 1px solid rgb(120, 120, 120);
  padding: 15px;
  border-radius: 5px;
}

.selected {
  margin-left: 50px;
  padding: 1px;
  text-align: center;
}

/* MODAL CONFIRMATION */
.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  border-bottom: 1px solid lightgray;
}

.modalClose {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: #e6e6e6;
  color: rgb(61, 61, 61);
  border: 0;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.modalClose:hover {
  opacity: 0.9;
  cursor: pointer;
}

.modalContent {
  padding: 30px 40px;
}

.modalSubmit {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: #412ff8;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 7px 35px;
  margin-top: 10px;
}

.modalSubmit:hover {
  opacity: 0.9;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .container {
    margin: 20px;
  }

  .content {
    flex-direction: column;
    padding: 20px 5px;
  }

  .grid_container {
    border: 0;
  }

  .selected {
    padding: 0 30px;
    margin-left: 0;
    margin-top: 20px;
  }

  .modalHeader {
    padding: 30px 20px;
  }

  .modalHeader > h1 {
    font-size: 24px;
  }
  .modalContent {
    padding: 30px 20px;
  }
}
